<!-- FACEBOOK Strategy -->
<!-- Only works localy -->
     
<a type="button"  class="btn btn-lg btn-default" href="/auth/facebook"><img src="/fb-login.jpg" width="151" height="24"></a>

<!-- End of FACEBOOK Strategy -->