<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <div>
        <h2>Users API</h2>
        <p>This API provides your basic CRUD operations over a PostgreSQL Database.</p>
      </div>
      <div>
        <h4>Resource URL</h4>
        <code>GET <a style="color: #c7254e;" href="https://mleal-heroku-app.herokuapp.com/api/users" target="_blank">https://mleal-heroku-app.herokuapp.com/api/users</a></code>
      </div>
      <div>
        <h4>Sample Response:</h4>
        <code style="background-color: white;">
          <pre>
      [
          {
              "id": 1,
              "name": "Mauricio"
          },
          {
              "id": 2,
              "name": "Andres"
          },
          {
              "id": 3,
              "name": "Marian"
          }
      ]</pre>
      </code>
      </div>
      <div style="margin-bottom: 40px;">
        <h4><b>----- The following functionallity is under contruction ----</b></h4>
        <H4>Try the API with the following UI:</H4>

        <form action="/api" method="post">
          <input type="text" name="user" placeholder="Your Name">
          <input type="submit" name="action" value="POST">
          <input type="submit" name="action" value="GET">
          <input type="submit" name="action" value="PUT">
          <input type="submit" name="action" value="DELETE">
        </form>
        <% if (results) { %>
          <ul style="padding-left: 0px;">
            <% results.forEach(function(result){ %>
              <li>Your id: <%= result.id %></li>
              <li>Saved Name: <%= result.name %></li><br>
            <% }); %>
          </ul>
        <% } %>
      </ul>      


    </div>
  </body>
</html>

