<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <div>
        <h2>Users API</h2>
        <p>This API provides your basic CRUD operations over a PostgreSQL Database.</p>
      </div>
      <div>
        <h4>Resource URL</h4>
        <code>GET <a style="color: #c7254e;" href="https://mleal-heroku-app.herokuapp.com/api/users" target="_blank">https://mleal-heroku-app.herokuapp.com/api/users</a></code>
      </div>
      <div>
        <h4>Sample Response:</h4>
        <code style="background-color: white;">
          <pre>
      [
          {
              "id": 1,
              "name": "Mauricio"
          },
          {
              "id": 2,
              "name": "Andres"
          },
          {
              "id": 3,
              "name": "Marian"
          }
      ]</pre>
      </code>
      </div>
      <div style="margin-bottom: 40px;">
        <h4><code style="color: white; background-color: #f0ad4e;">----- The following functionallity is under contruction ----</code></h4>
        <H4>Try the API with the following UI:</H4>

        <form action="/api" method="post">
          <input 
            class="form-control" 
            style="display: inline-block; width: 15%;"
            type="text" name="user" placeholder="Your Name">
          <input class="btn" type="submit" name="action" value="POST">
          <input class="btn" type="submit" name="action" value="GET">
        </form><br>


        <form>
          <input 
            class="form-control" 
            style="display: inline-block; width: 15%;"
            type="text" name="id" placeholder="Id">
          <input 
            class="form-control" 
            style="display: inline-block; width: 15%;"
            type="text"  name="user-name" placeholder="Name">
          <button id="button-post" class="btn">PUT</button>
          <button id="button-delete" class="btn" disabled>DELETE</button>
          <output id=output></output>

        </form><br>
        <% if (maxResults) { %>
          <p>GET will only show first <%= maxResults %> users.</p>
        <% } %>
        <% if (results) { %>
          <ul style="padding-left: 0px;">
            <% results.forEach(function(result){ %>
              <li>Your id: <%= result.id %></li>
              <li>Saved Name: <%= result.name %></li><br>
            <% }); %>
          </ul>
        <% } %>
      </ul>      


    </div>
    <% include ../partials/scripts.ejs %>
    <script>
      let post = $('#button-post');

      let updateResult = (id, name) => {
        let $output = $('#output');
        $output.text(`You just changed user with id: ${id} to ${name}`);
      }

      let getValue = (selector) => {
        return $(selector).val();
      }

      post.on('click', function(e) {
        e.preventDefault();
        let user = $('input[name="user-name"]').val();
        id = $('input[name="id"]').val();

        fetch(`https://mleal-heroku-app.herokuapp.com/api/users/${id}/${user}`, {
          method: 'POST'
        })
        .then( response => response.json() )
        .then( json => {
          let id = getValue('input[name="id"]');
          let updatedUser = json.find( (element) => element.id === +id);
          let name = updatedUser.name;
          return updateResult(id, name);
        });
      });
    </script>
  </body>
</html>

