<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="container">
      <div>
        <h2>Users API</h2>
        <p>This API provides your basic DRUD operations over a PostgreSQL Database.</p>
      </div>
      <div>
        <h4>Resource URL</h4>
        <code>GET https://mleal-heroku-app.herokuapp.com/api/users</code>
      </div>
      <div>
        <h4>Sample Response:</h4>
        <code style="background-color: white;">
          <pre>
      [
          {
              "id": 1,
              "name": "Mauricio"
          },
          {
              "id": 2,
              "name": "Andres"
          },
          {
              "id": 3,
              "name": "Marian"
          }
      ]</pre>
      </code>
      </div>
      <div style="margin-bottom: 40px;">
        <h4><b>----- The following functionallity is under contruction ----</b></h4>
        <H4>Try the API with the following UI:</H4>
        <form action="/chocolate" method="post">
          <input type="text" name="user" placeholder="Your Name">
          <input type="submit" name="action" value="POST">
          <input type="submit" name="action" value="GET">
          <input type="submit" name="action" value="PUT">
          <input type="submit" name="action" value="DELETE">
        </form>
      </div>      


    </div>
  </body>
</html>

