<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
  <h1>Thank you <%= firstName %> for communicating with us.</h1>
  <h5>We will get in contact with you at <%= email %> as soon as possible. <span>This is usually no longer than 24 hours. </span><span>For your time, than you very much.</span></h5>
</div>

</body>
</html>
