<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Node JS API</h1>
    <p>This is a sample Node application deployed to Heroku.</p>
    <p>On this app you can find two main things: A form example which does a form "submit" without persisting data. And a REST API which can be accessed by hitting the following URI "/api/users". The API does persist data in a PostgreSQL database.</p>
  
    <a type="button" class="btn btn-lg btn-default" formmethod="post" action="/login"><span class="glyphicon glyphicon-flash"></span> LOGIN</a>
    <a type="button" class="btn btn-lg btn-default" href="/app"><span class="glyphicon glyphicon-flash"></span> Form Example</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/mauriciolealmx/node-server"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      
    <p>This app still has tons of work to be done. It is being developed and maintained by: MauricioLealMX.</p>
    <p>Get in touch</p>
    <ul class="contact-info">
      <li>E-mail: <a href="mailto:mauriciolealmx@gmail.com?subject=Hi Mauricio" target="_blank">Mauricio Leal</a></li>
      <li>Visit web profile: <a href="http://mauriciolealmx.com">http://mauriciolealmx.com</a></li>
      <li>GitHub user: <a href="https://github.com/mauriciolealmx">https://github.com/mauriciolealmx</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/mauriciolealmx">https://www.linkedin.com/in/mauriciolealmx</a></li>
    </ul>
      
  </div>
</div>

</body>
</html>
